.wrapper {
  padding: calc(var(--baseline-grid) * 3);
}

.content {
  display: grid;
  gap: calc(var(--baseline-grid) * 3);
  grid-template: "from to" "options options" "route route" / 1fr 1fr;
  margin-inline: auto;
  max-width: var(--container-width);
}

.route {
  grid-area: route;
}

.emptyRoute {
  column-gap: calc(var(--baseline-grid) * 2);
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.emphasis {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5;
}

@media screen and (min-width: 1024px) {
  .content {
    grid-template: "from to options" auto "route route route" auto / 1fr 1fr 2fr;
    row-gap: calc(var(--baseline-grid) * 6);
  }
}
