.table {
  column-gap: var(--baseline-grid);
  display: grid;
}

.th {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5;
}

.tr {
  display: grid;
  grid-column: 1 / -1;
  grid-template-columns: subgrid;
  padding-block: var(--baseline-grid);
}

.tr + .tr {
  border-block-start: 1px solid var(--color-ornament-divider);
}
